FORMAT: 1A
HOST: https://alletidersapi.dk

# AlletidersAPI.dk

Welcome to the Provider interface documentation of the **AlletidersAPI.dk** API.

## Useful Links

+ [Documentation](http://docs.alletidersapi.dk/)
+ [System Overview](http://docs.alletidersapi.dk/overview/)
+ [Sales Channel Documentation](http://docs.alletidersapisaleschannel.apiary.io/)

## Corrections:

+ PCM-* (Product Channel Manager) => AlletidersAPI
+ Combine Product & Event Booking => AlletidersAPI

# Group Product

## Create Transaction [/provider/product]
### Create Transaction [POST]

Create a new product import transaction. The transaction will be used to transfer product data.

+ Response 201

    + Headers

            Location: /provider/product/{transaction}

## Import Products [/provider/product/{transaction}]
### Create/Update Products [PUT]

Create and/or update products. Create or update will be determined by the product id, if it already exists an update will be done, otherwise a new product will be created.
All product attributes are optional, except the “id” and “type”.  In order to disable a product the sales period must be set to an expired date.

*NOTE:* The request will be completed as soon as the XML document has been transferred. The
processing of data is done asynchronously afterwards.

See example request

For more information see the [online documetation](http://docs.alletidersapi.dk/api/).

+ Parameters
    + transaction (number, required) - Transaction ID.

Responses
+ 202: Accepted - The request has been accepted for processing, but the processing has not been completed. GET the same URI to get the result of the import.
+ 405: Method not allowed - A document has already been PUT to this transaction.

+ Request Standard product creation - XML example (application/xml)

    + Body

            <?xml version="1.0" encoding="UTF-8"?>
            <products>
                <product id="423">
                    <title>
                        <values>
                            <value lang="da">Entre</value>
                            <value lang="en">Single day</value>
                        </values>
                    </title>
                    <intro>
                        <values>
                            <value lang="da">Entre ...</value>
                            <value lang="en">Single day ...</value>
                        </values>
                    </intro>
                    <description>
                        <values>
                            <value lang="da">Entre billet gyldig for en enkelt dag</value>
                            <value lang="en">Ticket valid for a single day</value>
                        </values>
                    </description>
                    <type>standard</type>
                    <sale>
                        <from>2013-01-29T09:00:00+01:00</from>
                        <to>2013-09-01T00:00:00+02:00</to>
                        <prices>
                            <price currency='DKK'>
                                <value>4200</value>
                                <comment>Udsalgspris</comment>
                            </price>
                            <price currency='EUR'>
                                <value>600</value>
                            </price>
                        </prices>
                    <inventory>10</inventory>
                    </sale>
                    <owner id="234">
                        <name>Kim Jersin</name>
                    </owner>
                </product>
            </products>

+ Request Subscription product creation - XML example (application/xml)

    + Body

            <?xml version="1.0" encoding="UTF-8"?>
            <products>
                <product id="4223">
                    <title>
                        <values>
                            <value lang="da">Abonnements produkt</value>
                            <value lang="en">Subscription product</value>
                        </values>
                    </title>
                    <intro>
                        <values>
                            <value lang="da">Intro tekst ...</value>
                            <value lang="en">Short description ...</value>
                        </values>
                    </intro>
                    <description>
                        <values>
                            <value lang="da">Dette er et abonnement-produkt</value>
                            <value lang="en">This is a subscription product</value>
                        </values>
                    </description>
                    <type>subscription</type>
                    <sale>
                        <from>2014-01-01T09:00:00+01:00</from>
                        <to>2014-03-01T00:00:00+02:00</to>
                        <prices>
                            <price currency='DKK'>
                                <value>4200</value>
                                <comment>Udsalgspris</comment>
                            </price>
                            <price currency='EUR'>
                                <value>600</value>
                            </price>
                        </prices>
                    </sale>
                    <owner id="5634">
                        <name>sny</name>
                    </owner>
                </product>
            </products>

+ Request Booking product creation - XML example (application/xml)

    + Body

            <?xml version="1.0" encoding="UTF-8"?>
            <products>
                <product id="428">
                    <title>
                        <values>
                            <value lang="da">Entre</value>
                            <value lang="en">Single day</value>
                        </values>
                    </title>
                    <intro>
                        <values>
                            <value lang="da">Entre ...</value>
                            <value lang="en">Single day ...</value>
                        </values>
                    </intro>
                    <description>
                        <values>
                            <value lang="da">Entre billet gyldig for en enkelt dag</value>
                            <value lang="en">Ticket valid for a single day</value>
                        </values>
                    </description>
                    <type>booking</type>
                    <calendar interval_unit="day" sales_deadline="0" sales_deadline_unit="day">
                        <entry active="true">
                            <quantity>40</quantity>
                            <from>2013-08-29</from>
                            <to>2013-12-01</to>
                            <comment>Imported sale</comment>
                        </entry>
                    </calendar>
                    <sale>
                        <from>2013-01-29T09:00:00+01:00</from>
                        <to>2013-11-17T00:00:00+02:00</to>
                        <prices>
                            <price currency='DKK'>
                                <value>4300</value>
                                <comment>Udsalgspris</comment>
                            </price>
                            <price currency='EUR'>
                                <value>600</value>
                            </price>
                        </prices>
                    </sale>
                    <owner id="234">
                        <name>Kim Jersin</name>
                    </owner>
                </product>
            </products>

+ Request Accomodation product - XML example (application/xml)

    + Body

            <?xml version="1.0" encoding="UTF-8"?>
            <products>
                <product id="428">
                    <title>
                        <values>
                            <value lang="da">Entre</value>
                            <value lang="en">Single day</value>
                        </values>
                    </title>
                    <intro>
                        <values>
                            <value lang="da">Entre ...</value>
                            <value lang="en">Single day ...</value>
                        </values>
                    </intro>
                    <description>
                        <values>
                            <value lang="da">Entre billet gyldig for en enkelt dag</value>
                            <value lang="en">Ticket valid for a single day</value>
                        </values>
                    </description>
                    <type>accommodation</type>
                    <calendar sales_deadline="0" sales_deadline_unit="day">
                        <entry active="true">
                            <quantity>40</quantity>
                            <from>2013-08-29</from>
                            <to>2013-12-01</to>
                            <comment>Imported sale</comment>
                        </entry>
                    </calendar>
                    <sale interval_length="2" interval_unit="week" week_days="6,7">
                        <from>2013-01-29T09:00:00+01:00</from>
                        <to>2013-11-17T00:00:00+02:00</to>
                        <prices>
                            <price currency='DKK'>
                                <value>4300</value>
                                <comment>Udsalgspris</comment>
                            </price>
                            <price currency='EUR'>
                                <value>600</value>
                            </price>
                        </prices>
                    </sale>
                    <owner id="234">
                        <name>Kim Jersin</name>
                    </owner>
                </product>
            </products>

+ Response 202

+ Response 405

### Get Status [GET]

The GET method will show the current status of the import.

Responses
+ 202: Accepted - The request is pending or processing.
+ 200: OK - The request was handled with success.
+ 204: No Content - Nothing was uploaded.
+ 206: Partial Content - The request caused errors.

+ Parameters
    + transaction (number, required) - Transaction ID.
    + language: `en` (string, optional) - Language to use in ISO 639-1 standard
        + Default: `da`
    + currency: `EUR` (string, optional) - The currency to use in ISO 4217 format
        + Default: `DKK`
    + format: `xml` (string, optional) - Either json or xml.
        + Default: `json`

+ Response 202

+ Response 200

+ Response 204

+ Response 206

    + Body

            <?xml version="1.0" encoding="UTF-8"?>
            <errors xmlns="http://netimage.dk/pcm/provider/order-export">
                <error>
                    <sequence>1</sequence>
                    <id>18</id>
                    <code>1048</code>
                    <message>Example text</message>
                </error>
            </errors>

# Group Order Export

## Order Export [/provider/order-export/{transaction}]
### Get Completed Orders [GET]

Get all completed orders for given transaction id. If it is a new transaction, All new orders are marked as exported (with the transaction) and returned.
If it is an already used transaction, Orders already marked (exported or  tried exported) would be returned

NOTE: Only if an order is made using a sales channel, will the channel id be specified

+ Parameters
    + transaction (number, required) - Transaction ID.
    + language: `en` (string, optional) - Language to use in ISO 639-1 standard
        + Default: `da`
    + currency: `EUR` (string, optional) - The currency to use in ISO 4217 format
        + Default: `DKK`
    + format: `xml` (string, optional) - Either json or xml.
        + Default: `json`

+ Response 200

    + Body

            <?xml version="1.0" encoding="UTF-8"?>
            <orders xmlns="http://netimage.dk/pcm/provider/order-export">
                <order id="7">
                    <insertTime>2013-02-07T14:46:23+01:00</insertTime>
                    <modified>2013-02-08T12:37:04+01:00</modified>
                    <address id="3">
                        <name>John Doe</name>
                        <address>Evergreen Terrace 742</address>
                        <zipCode>1000</zipCode>
                        <city>København K</city>
                        <country>Denmark</country>
                        <phone></phone>
                        <email>jd@example.com</email>
                    </address>
                    <channelId>3</channelId>
                    <currency>EUR</currency>
                    <orderLines>
                        <orderLine id="23">
                            <quantity>2</quantity>
                            <prices>
                                <price id="54">
                                    <value>26000</value>
                                </price>
                            </prices>
                            <product id="6" ver="1">
                                <title>Dobbeltværelse (pris for 2 pers.)</title>
                            </product>
                            <ticketIdentities>
                                <ticketIdentity id="23">
                                    <type>barcode</type>
                                    <code>8705647250635</code>
                                    <barcodeType>EAN13</barcodeType>
                                    <scanLog/>
                                </ticketIdentity>
                            </ticketIdentities>
                        </orderLine>
                        <orderLine id="24">
                            <quantity>2</quantity>
                            <prices>
                                <price id="51">
                                    <value>26000</value>
                                </price>
                            </prices>
                            <product id="6" ver="1">
                                <title>Dobbeltværelse (pris for 2 pers.)</title>
                            </product>
                            <ticketIdentities>
                                <ticketIdentity id="24">
                                    <type>barcode</type>
                                    <code>5432758218607</code>
                                    <barcodeType>EAN13</barcodeType>
                                    <scanLog/>
                                </ticketIdentity>
                            </ticketIdentities>
                        </orderLine>
                    </orderLines>
                </order>
            </orders>

### Create Transaction for Order Export [POST]
Create a new transaction for order export.

Responses
+ 200: OK - Order transaction created
+ 204: No Content - No orders on the transaction or no new orders. Try again later.

+ Response 200

    + Headers

            Location: /provider/order-export/{transaction}

+ Response 204

# Group Member Import

Members include person, product, and ticket information. Since members are registered to a product, this product needs to be imported before the member is imported (if it does not exist  in Alletiders API already).  Furthermore in order to be able to scan tickets the product type needs to be subscription.
The member import currently supports two content types: XML and CSV.

The member import process contains 2 steps:
+ Create a transaction for the import
+ Send member data

## Create Transaction [/provider/member]
### Create Transaction [POST]

Create a new member import transaction. The resulting transaction can then be used to import members.

+ Response 201

    + Headers

            Location: /provider/member/{transaction}

## Import Members [/provider/member/{transaction}]
### Get status [GET]

Show the current status of the import.

Warnings
+ 995: This warning will be shown when updating an already imported member with a different product label. The rest will be updated.
+ 1062: The code exist for another provider. If this happens the import will be interrupted and nothing will be imported. Please contact Combine if this error occurs.
+ 1452: The product-id (product label) does not exist. Please check if `<product><label>xxx</label></product>` is specified correctly and that the product exists in Alletiders API.

Responses
+ 202: Accepted - Pending or processing
+ 200: OK - Done with success
+ 204: No Content - Nothing was uploaded
+ 206: Partial Content - Done with errors

+ Response 202

+ Response 200

+ Response 204

+ Response 206

    + Body

            <?xml version="1.0" encoding="UTF-8"?>
            <errors xmlns="http://netimage.dk/pcm/provider/order-export">
                <error>
                    <sequence>1</sequence>
                    <id>18</id>
                    <code>1048</code>
                    <message>Example text</message>
                </error>
            </errors>

### Import Members [PUT]

Imports the members to Alletiders API. If a member already exists data will be updated. Expected file encoding is UTF 8 and content type must be set in the header.

See example request

For more information see the [online documetation](http://docs.alletidersapi.dk/api/).

+ Parameters
    + transaction (number, required) - Transaction ID.

+ Request

    + Body

            <?xml version="1.0" encoding="UTF-8"?>
            <orders>
                <order>
                    <members>
                        <member>
                            <address>
                                <name>David Davidoff Davidsen</name>
                                <address>Gadenavngade 10</address>
                                <zipCode>8000</zipCode>
                                <city>Aarhus C</city>
                                <country>Danmark</country>
                                <phone>86123456</phone>
                                <email>david@example.com</email>
                            </address>
                            <ticketIdentity>
                                <code>1234561234568</code>
                                <type>barcode</type>
                                <valid>
                                    <from>2013-01-30T09:00:00+01:00</from>
                                    <to>2013-05-25T00:00:00+00:00</to>
                                </valid>
                            </ticketIdentity>
                            <product>
                                <label>423</label>
                            </product>
                        </member>
                        <member>
                            <address>
                                <name>William W. Willemoes</name>
                                <address>Gadenavngade 103B</address>
                                <zipCode>8240</zipCode>
                                <city>Risskov</city>
                                <country>Danmark</country>
                                <phone>86654321</phone>
                                <email>will@example.com</email>
                            </address>
                            <ticketIdentity>
                                <code>1231231231233</code>
                                <type>barcode</type>
                            </ticketIdentity>
                            <product>
                                <label>423</label>
                            </product>
                        </member>
                    </members>
                </order>
            </orders>

+ Response 202

    + Headers

            Location: /provider/member/{transaction}

# Group Language

## Language [/provider/language]
### Get Supported Languages [GET]

Retrieve a list of supported languages.

+ Response 200 (application/xml)

    + Body

            <?xml version="1.0" encoding="UTF-8"?>
            <languages xmlns="http://netimage.dk/pcm/channel/language">
                <language id="1" code="da" locale="da_DK">danish</language>
                <language id="2" code="en" locale="en_GB">english</language>
                <language id="3" code="de" locale="de_DE">german</language>
                <language id="4" code="no" locale="nb_NO">norwegian</language>
                <language id="5" code="sv" locale="sw_SE">swedish</language>
                <language id="6" code="nl" locale="nl_NL">dutch</language>
            </languages>

+ Response 200 (application/json)

    + Body
            [
                {
                    "id":1,
                    "label":"danish",
                    "locale":"da_DK",
                    "code":"da"
                },
                {
                    "id":2,
                    "label":"english",
                    "locale":"en_GB",
                    "code":"en"
                },
                {
                    "id":3,
                    "label":"german",
                    "locale":"de_DE",
                    "code":"de"
                },
                {
                    "id":4,
                    "label":"norwegian",
                    "locale":"nb_NO",
                    "code":"no"
                },
                {
                    "id":5,
                    "label":"swedish",
                    "locale":"sw_SE",
                    "code":"sv"
                },
                {
                    "id":6,
                    "label":"dutch",
                    "locale":"nl_NL",
                    "code":"nl"
                }
            ]

# Group Currency

## Currency [/provider/currency]
### Get Supported Currencies [GET]

Retrieve a list of supported currencies.

+ Response 200 (application/xml)

    + Body

            <?xml version="1.0" encoding="UTF-8"?>
            <currencies xmlns="http://netimage.dk/pcm/channel/currency">
                <currency id="1">DKK</currency>
                <currency id="2">EUR</currency>
                <currency id="3">USD</currency>
                <currency id="4">SEK</currency>
                <currency id="5">NOK</currency>
            </currencies>

+ Response 200 (application/json)

    + Body

            [
                {
                    "id":1,
                    "currency":"DKK"
                },
                {
                    "id":2,
                    "currency":"EUR"
                },
                {
                    "id":3,
                    "currency":"USD"
                },
                {
                    "id":4,
                    "currency":"SEK"
                },
                {
                    "id":5,
                    "currency":"NOK"
                }
            ]

# Data Structures

## DateTime (string)

    The date and time in the format (Y-m-d\TH:i:sP)

## Date (string)

    The date in the format (Y-m-d)

## MySQL DateTime (string)

    The date and time in the format (Y-m-d H:i:s)

## Address (object)
    + name (string,)
    + email (string)
    + phone (number)
    + name (string)
    + address (string)
    + city (string)
    + zipCode (number)
    + country (string)
        + Default: Denmark

## Product (object)
    + id (number) - product identifier
    + qty (number) - quantity, CANNOT be changed later!
    + allotments (array) - collection of key/value pairs. Pair key is allotment id and value has to be set to true. Allotments can be retrieved via the [ProductAllotment](http://www.example.com) resource.

## Sale (object)
    + from (DateTime)
    + to (DateTime)
    + price (Price)
    + inventory (number) - Standard products supports inventory update. Positive value = add. Negative = substract.
    + interval_length (number) - For accomodation only.
    + interval_unit (string) ... For accomodation only.
        + Values
            + `week`
            + `day`
            + `hour`
    + week_days (number) - For accomodation only. Comma spearated list of days as 1-7

## Price (object)
    + currency (string) - ISO 4217 format e.g. EUR, DKK
    + value (number) - In cents, to avoid rounding errors
    + comment (string) - A comment

## Calendar (object)
    + interval_length (number) -  Length of interval
    + interval_unit (string) - Possible values: week, day, hour
    + sales_deadline (number)
    + sales_deadline_unit (string) - Possible values: week, day, hour
    + active (boolean)
    + from (Date)
    + to (Date)

